.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt

data/
data/out_data/rack/output_masks_rube/

data/out_data/rack/highlighted_frames/
data/Intel_Realsense_D435/
Intel_Realsense_D405